.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make sure the page container occupies the full height of the viewport */
    margin: 20px;
    padding: 20px;
}

.company-card {
    max-width: 600px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 50px auto;
}

.company-card img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.company-card h2, .company-card h3 {
    color: #333;
    margin-bottom: 10px;
}

.company-card p {
    color: #666;
    font-size: 16px;
}

.view-offer-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    text-align: center;
}

.view-offer-button:hover {
    background-color: #0056b3;
}

.price, .address, .rating {
    margin: 10px 0;
}
