header {
    background-color: #4C3A70;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 20px;
    margin: 0;
    width: 100%;
}

header .logo img {
    height: 50px;
}

header nav {
    display: flex;
    align-items: center;
}

header nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

header nav a:hover {
    background-color: #5C5470;
    text-decoration: none;
}