.user-container {
    font-family: 'Arial', sans-serif;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: #fff;
    display: flex;
    justify-content: space-between; /* Ensure children elements (service and balance actions) are on opposite sides */
}

.user-dashboard {
    flex-grow: 1; /* Take available space */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.centered-section, h1 {
    text-align: center;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f7f7f7;
    margin: 5px 0;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

button {
    background-color: #7fbace;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Ensure buttons are rounded */
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    margin: 10px;
}

button:hover {
    background-color: #91c2d3;
    transform: scale(1.05);
}

.dashboard-section {
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
    margin-top: 10px;
}

.service-actions {
    display: flex;
    flex-direction: column; /* Align buttons from top to bottom */
    gap: 15px;
    align-items: flex-end; /* Align to the right */
}

.balance-actions {
    display: flex;
    flex-direction: column; /* Align buttons from top to bottom */
    gap: 15px;
    align-items: flex-start; /* Align to the left */
}

.service-actions button, .balance-actions button {
    min-width: 150px;
    margin-bottom: 10px;
}
